[ req ]
default_bits        = 3072
default_keyfile     = ca.key
distinguished_name  = req_distinguished_name
x509_extensions     = v3_ca
req_extensions      = v3_req

[ req_distinguished_name ]
countryName                  = Country Name (2 letter code)
countryName_default          = US
stateOrProvinceName          = State or Province Name (full name)
stateOrProvinceName_default  = Washington
localityName                 = Locality Name (eg, city)
localityName_default         = Redmond
organizationName             = Organization Name (eg, company)
organizationName_default     = Microsoft Corporation
organizationalUnitName       = Organizational Unit Name (eg, section)
organizationalUnitName_default = IT Security
commonName                   = Common Name (e.g. server FQDN or YOUR name)
commonName_default           = my-ca.microsoft.com
emailAddress                 = Email Address
emailAddress_default         = admin@microsoft.com

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints = CA:TRUE
keyUsage = cRLSign, keyCertSign

[ v3_req ]
keyUsage = keyEncipherment, dataEncipherment
